<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content='mariachis en guatemala, mariachi en guatemala, precio, mariachis en guatemala, mariachis en guatemala' name='keywords'/>
    <meta content='Mariachis en Guatemala, Precio de mariachis en guatemala, Serenata en Guatemala, entierros. OLX mariachis en guatemala' name='description'/>
<meta content='https://musicosdealquiler.vercel.app/' property='og:url'/>
<meta content='Mariachis En Guatemala ▷ 【 Lista de los mejores mariachis de Guatemala 】' property='og:title'/>
    <%- include('./partials/header.ejs'); -%>
    <title>Musicos de Alquiler</title>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5314398130823639"
     crossorigin="anonymous"></script>
     <meta name="google-site-verification" content="U7SjwPtVD9oOzZU8c8wgcwoKLYXTof1OOymMMkDSGqU" />
</head>
<body>
    <%- include('./partials/navbar.ejs'); -%>
    <div class="hero-container">
        <div class="hero">
            <div class="hero-content container">
                <h1 class="hero-title">Mariachis Guatemala</h1>
                <p class="h1">Ofertas, numeros de telefono en cualquier zona <b>de Guatemala</b>.</p>
            </div>
        </div>
    </div>
    
    <div class="container">
        <h2>Ahora puede contratar a los mejores mariachis de Guatemala</h2>
        <p>Encuentre el <b>Numero de telefono</b> de miles de <b>mariachis en Guatemala</b>, todos certificados
            y verificados. 
        </p>
    </div>
    <section class="tarjetero">
        <% datos.map(item =>{ %>
            <div class="row">
                <div >
                    <div class="card light-green white-text">
                        <div class="card-image">
                            <img src="<%= item.data.foto %>" alt="">
                        </div>
                        <div class="card-content">
                            <h2 class="card-title"><%= item.data.nombre %></h2>
                            <a class="waves-effect waves-light btn" href="/musican/<%= item.id %>">Ver Perfil</a>
                        </div>
                    </div>
                </div>
            </div>
            
            <% })%>
    </section>
        <div class="container">
            <h2>Donde contratar mariachis en Guatemala?</h2>
            <p>Usted puede contratar mariachis de muchas formas, desde irlos a buscar en la Zona 1, o en paginas de Facebook, pero solo hay una forma
                segura con la que usted puede contratar al mejor mariachi. Utilizando nuestra web sabra que los mariachis, ademas de tener redes sociales o 
                anuncios en Google, tendran varios medios de verificacion que le permite saber que son seguros y confiables.
            </p>
        </div>
          <div class="container">
            <h2>Cuanto Cuesta contratar a un mariachi</h2>
            <p>Los mariachis tocan:
            <ul>
                <li>Por ronda</li>
                <li>Por tiempo</li>
                <li>Por Evento</li>
                <li>Segun su presupuesto</li>
            </ul>
            Hemos llegado a un acuerdo con los mariachis para que usted pague solo lo que quiera, ya quedaron atras esos dias donde los mariachis le quedaban mal y le cobraban lo que querian.
            Ahora sabe que usted pagua lo que quiere y deja de preocuparse por cuanto cuestan los mariachis.
            </p>
        </div>
       
        <%- include('./partials/footer.ejs'); -%>
    </body>
</html>
